<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eht.hg.mybatis.OrderMapper">

	<select id="getDownroadLiat" parameterType="java.util.Map"
		resultType="java.util.Map">
		select * from feng.location;
	</select>

	<select id="loging" parameterType="java.util.Map" resultType="java.util.Map">
		select id from feng.usr where username=#{username} and
		`password`=#{password}
	</select>
</mapper>